#main-jumbo {
	padding: 0px;
	margin-top: 15%;
	margin-bottom: 15%;
}

#main-button {
	width: 200px;
	height: 50px;
	font-size: x-large;
	background-color: #95C278;
	color:#fff;
}

h1 {
	text-align:center;
}

#main-title-row {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

#content-row {
	margin-left: 0px;
	margin-right: 0px;
}