<div class="row title-row" ng-controller="StoryCtrl as Story">
	<div class="col-sm-12 content-row">
		<section layout="row" layout-sm="column" layout-align="center center" style="margin-top:10%; margin-bottom:10%">
			<md-button class="md-fab content-button" aria-label="Military" ng-click="Story.select('military')">
				<md-icon icon="/assets/images/blad2.png" style="width: 24px; height: 24px"></md-icon>
			</md-button>
			<md-button class="md-fab content-button" aria-label="Comedy" ng-click="Story.select('comedy')">
				<md-icon icon="/assets/images/comedy2.png" style="width: 24px; height: 24px"></md-icon>
			</md-button>
			<md-button class="md-fab content-button" aria-label="Romance" ng-click="Story.select('love')">
				<md-icon icon="/assets/images/heart2.png" style="width: 24px; height: 24px"></md-icon>
			</md-button>
		</section>
	</div>
</div> 